/* PRODUCTS */

.slider-container {
    width: 100%;
    position: relative;
    background-color: var(--background-navigation);
}
  
  .project-container {
    display: flex;
    overflow-x: auto;
    padding: 2.5rem 7rem;
    scroll-behavior: smooth;
  }
  
  .project-container::-webkit-scrollbar {
    display: none;
  }
  
  .project-card {
    flex: 0 0 auto;
    width: 22rem;
    height: 30rem;
    margin-right: 2.25rem;
  }
  
  .project-image {
    position: relative;
    width: 100%;
    height: 22rem;
    overflow: hidden;
  }
  
  .project-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .topic-tag {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--foreground);
    background-color: var(--background);
    opacity: .8;
    padding: 0.5rem 0.8rem;
    text-transform: capitalize;
  }

  .project-info {
    width: 100%;
    padding-top: 10px;
  }
 
  .pre-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    z-index: 7;
    background: none;
    border: none;
    padding: 1.2rem;
    font-size: 2.5rem;
    line-height: 3.2rem;
    transform: translateY(-50%);
    color: var(--clr-dark);
    background-color: var(--clr-light);
    opacity: .6;
    cursor: pointer;
  }
  
  .pre-btn {
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    left: -0.7rem;
  }
  
  .next-btn {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    right: -0.7rem;
  }
  
  .pre-btn:hover,
  .next-btn:hover {
    color: var(--clr-dark);
    background-color: var(--clr-light);
    opacity: 1;
  }
  
  